@model IEnumerable<CPRG214.Assets.Domain.Asset>

@{
    ViewData["Title"] = "Index";
}

<h2>Find Assets By Type</h2>

<!-- Drop down list -->
<div class="container">
    <label class="h3">Select Property Type:</label>
    <select id="drpAssetTypes" asp-items="@ViewBag.AssetTypes" class="form-control form-control-lg" onchange="showFiltedAssets(this.value)"></select>
</div>


<div id="tblFilteredAssets">
    <!-- View Component goes in here -->
    @await Component.InvokeAsync("AssetsByType", 0)
    
</div>

@section Scripts
{
    <script src="~/js/FilterByTypeScript.js"></script>
}
